@font-face {
	font-family: "Garamond";
	src: url("../public/font/Garamond Classico SC Regular/Garamond Classico SC Regular.ttf");
}

@font-face {
	font-family: "Copperplate";
	src: url("../public/font/Copperplate/Copperplate.ttf");
}
